@import "tailwindcss";
@tailwind utilities;

@theme {
  --breakpoint-xxs: 320px;
  --breakpoint-xs: 360px;
  --breakpoint-ssm: 400px;
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 175rem;
}

:root {
  --background: #000000;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer components {
  .homeSocialMediaIcons {
    @apply fill-[#bfbfbf] hover:fill-[#38b6ff] aspect-square w-5 sm:w-4 md:w-5 xl:w-6 3xl:w-10;
  }

  .azulPestana {
    @apply text-[#38b6ff];
  }

  .hoverPestana {
    @apply hover:text-[#38b6ff];
  }

  .conteudoWrapper {
    @apply sm:mx-16 xl:mx-20;
  }

  .homeParagraph {
    @apply text-white text-[0.625rem] xl:text-[1rem] text-justify;
  }

  .homeSubTitle {
    @apply text-[2rem] sm:text-[2.5rem] xl:text-[3.75rem] text-start whitespace-pre-line leading-[1.1];
  }

  .homeSectionMargin {
    @apply my-10 xl:my-40;
  }

  .homeMobileDirection {
    @apply flex flex-col justify-between items-center gap-y-16 sm:items-start sm:gap-y-0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
