@import "tailwindcss";
@tailwind utilities;

@theme {
  --breakpoint-xxs: 320px;
  --breakpoint-xs: 360px;
  --breakpoint-ssm: 400px;
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 175rem;
}

:root {
  --background: #000000;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer components {
  .homeSocialMediaIcons {
    @apply fill-[#bfbfbf] hover:fill-[#38b6ff] aspect-square w-5 sm:w-4 md:w-5 xl:w-6 3xl:w-10;
  }

  .azulPestana {
    @apply text-[#38b6ff];
  }

  .hoverPestana {
    @apply hover:text-[#38b6ff];
  }

  .conteudoWrapper {
    @apply sm:mx-16 xl:mx-20;
  }

  .homeVp {
    @apply aspect-square w-24 md:w-28 xl:w-32 3xl:w-44 4xl:w-60;
  }

  .homeParagraph {
    @apply text-white text-[0.625rem] sm:text-[0.75rem] xl:text-[1rem] 2xl:text-[1.0625rem] 3xl:text-[1.125rem] 4xl:text-[1.25rem] text-justify;
  }

  .homeSubTitle {
    @apply text-[2rem] sm:text-[2.5rem] xl:text-[3.75rem] text-start whitespace-pre-line leading-[1.1];
  }

  .homeSectionMargin {
    @apply my-10 xl:my-40;
  }

  .homeMobileDirection {
    @apply flex flex-col justify-between items-center gap-y-16 sm:items-start sm:gap-y-0;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

@media screen and (max-width: 639px) {
  input::placeholder,
  textarea::placeholder {
    text-align: center;
  }
}

@media screen and (min-width: 639px) {
  input::placeholder,
  textarea::placeholder {
    text-align: right;
  }
}
